.col-md-12
  #pics.transitions-enabled
    - @pics.each do |pic|
      .box.panel.panel-default
        = link_to (image_tag pic.image.url), pic
        .row
          .btn-group.pull-left
            = link_to like_pic_path(pic),id: pic.id, method: :put, class: "btn btn-default", remote: true do
              %span.glyphicon.glyphicon-thumbs-up
              = pic.get_upvotes.size
          %h2= link_to pic.title, pic


